<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>头条资讯 - 牛客网</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="keywords" content="读《Web 全栈工程师的自我修养》"/>
    <meta name="description" content="阅读影浅分享的读《Web 全栈工程师的自我修养》，就在牛客网。"/>

    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome.min.css"/>

    <link rel="stylesheet" media="all" href="/styles/style.css"/>
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/main/base/base.js"></script>
    <script type="text/javascript" src="/scripts/main/base/util.js"></script>
    <script type="text/javascript" src="/scripts/main/base/event.js"></script>
    <script type="text/javascript" src="/scripts/main/base/upload.js"></script>
    <script type="text/javascript" src="/scripts/main/component/component.js"></script>
    <script type="text/javascript" src="/scripts/main/component/popup.js"></script>
    <script type="text/javascript" src="/scripts/main/component/popupLogin.js"></script>
    <script type="text/javascript" src="/scripts/main/component/upload.js"></script>
    <script type="text/javascript" src="/scripts/main/component/popupUpload.js"></script>
    <script type="text/javascript" src="/scripts/main/site/home.js"></script>s


</head>
<body class="welcome_index">

<header th:replace="header::header"></header>
<div id="main">
    <div class="container">
        <ul class="letter-list">
            <th:block th:each="vo:${vos}">
            <li id="conversation-item-10005_622873">
                <a class="letter-link" th:href="@{/msg/detail?conversationId={conversationId}(conversationId=${vo.objs.conversation.conversationId})}"></a>
                <div class="letter-info">
                    <span class="l-time" th:text="${#dates.format(vo.objs.conversation.createdDate,'yyyy-MM-dd HH:mm:ss')}"></span>
                    <div class="l-operate-bar">
                        <!--
                        <a href="javascript:void(0);" class="sns-action-del" data-id="">
                        删除
                        </a>
                        -->
                        <a th:href="@{/msg/detail?conversationId={conversationId}(conversationId=${vo.objs.conversation.conversationId})}">
                            共<span th:text="${vo.objs.conversation.id}"></span>条会话
                        </a>
                    </div>
                </div>
                <div class="chat-headbox">
                        <span class="msg-num" th:if="${vo.objs.unreadCount} gt 0" th:text="${vo.objs.unreadCount}">
                        </span>
                    <a class="list-head" th:href="@{/user/{userId}(userId=${vo.objs.targetId})}">
                        <img alt="头像" th:src="${vo.objs.headUrl}"/>
                    </a>
                </div>
                <div class="letter-detail">
                    <a th:title="${vo.objs.userName}" class="letter-name level-color-1" th:text="${vo.objs.userName}">
                    </a>
                    <p class="letter-brief">
                        <a th:href="@{/msg/detail?conversationId={conversationId}(conversationId=${vo.objs.conversation.conversationId})}" th:text="${vo.objs.conversation.content}">
                        </a>
                    </p>
                </div>
            </li>
           </th:block>
        </ul>

    </div>
    <script type="text/javascript">
        $(function(){

            // If really is weixin
            $(document).on('WeixinJSBridgeReady', function() {

                $('.weixin-qrcode-dropdown').show();

                var options = {
                    "img_url": "",
                    "link": "http://nowcoder.com/j/wt2rwy",
                    "desc": "",
                    "title": "读《Web 全栈工程师的自我修养》"
                };

                WeixinJSBridge.on('menu:share:appmessage', function (argv){
                    WeixinJSBridge.invoke('sendAppMessage', options, function (res) {
                        // _report('send_msg', res.err_msg)
                    });
                });

                WeixinJSBridge.on('menu:share:timeline', function (argv) {
                    WeixinJSBridge.invoke('shareTimeline', options, function (res) {
                        // _report('send_msg', res.err_msg)
                    });
                });

                // $(window).on('touchmove scroll', function() {
                //   if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                //     $('div.backdrop').show();
                //     $('div.share-help').show();
                //   } else {
                //     $('div.backdrop').hide();
                //     $('div.share-help').hide();
                //   }
                // });

            });

        })
    </script>
</div>
<footer th:replace="footer::footer"></footer>


<script th:inline="javascript">window.loginpop = [[${pop}]]</script>
</body></html>